<h1>All Mechanics</h1>
<% @mechanics.each do |mechanic| %>
  <section id="mechanic-<%= mechanic.id %>">
    <h2><%= mechanic.name %></h2>
    <p><%= mechanic.years_of_experience %> years of experience</p>
  </section>
<% end %>
