<h1><%= @park.name %></h1>
<p>Admissions: <%= @park.admission_price %></p>
<section id="park-rides">
  <h2>Rides:</h2>
  <% @park.sort_rides_alphabetically.each do |ride| %>
    <ol>
      <li><%= ride.name %></li>
    </ol>
  <% end %>
  <p>Average Thrill Rating of Rides: <%= @park.average_thrill_rating %>/10</p>
</section>
